@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}
header,
section{
    overflow-x: hidden;
}
header{
    background-image: url(../images/header-bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
header a{
    font-family: "Montserrat", sans-serif;
    color: #70ad47;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}
nav .navbar-nav li a{
  color: #70ad47 !important;
}
nav .navbar-nav li a:hover{
  color: #fff !important;
  text-decoration: underline;
}

.nav-item {
  padding: 0.9rem;
}

.landing-text h3{
  color: #70ad47;
  font-family: "Montserrat", sans-serif;
  font-size: 6vmin;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  padding-top: 30vmin;
  
}
.landing-text  span{
  color: #fff;
  font-family: "Raleway", sans-serif; 
  font-size: 1em;
  font-weight: italic;
  letter-spacing: 1px;
  text-align: center;   
  margin-left: 4vmin; 
}

/* About section */
.about_container{
  background-color:#d2e8ac ;
}


.about_container h1{
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 0.8px;
  color: #fff;
  margin-top: 40px;
  
}
.about_container p{
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 200;
  margin: 15px;
  padding: 0;
  line-height: 1.7;
  letter-spacing: 0.4px;
  color: #fff;
}
.team-section{
  background-color: #111411;
  height: 100vh;
}
.card{
  border-bottom-left-radius:0.3rem;
  border-bottom-right-radius:0.3rem;
  margin: 1rem;
  border: none;
}
div.card {
  box-shadow: 0 4px 8px 0 rgba(220, 242, 220, 0.6), 0 6px 20px 0 rgba(220, 242, 220, 0.6);
}
div.card-border {
  box-shadow: 0 4px 8px 0 rgba(220, 242, 220, 0.6), 0 6px 20px 0 rgba(220, 242, 220, 0.6);
}
.class-body{
  text-align: center;
  margin: 1rem;
}

.class-body span{
  font-family: "Montserrat",sans-serif;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 0.5rem;
  color: #008000;
}
.img-title{
  font-family: "Montserrat",sans-serif;
}
.class-body p{
  font-family: "Raleway", sans-serif;
}
/* social media links */
.social-links{
  padding: 2px;
  display: flex;
  justify-content: space-evenly;
}
.social-links a{
  color: #008000;

}
.social-links a:hover{
  color: #031203;

}
.fab{
  font-size: 1.3rem;
}
/* services */
.card-body h5{
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
}
.card-body ul{
  list-style: square;
  
}
.card-body ul,li{
  font-family: "Raleway",sans-serif;
  letter-spacing: 0.5px;
}
.service-icon{
  margin: 1rem auto;
}
.service-icon i{
  font-size: 3.5rem;
  color: #2D5C5A;
  
}


/* project-section */
.work_section{
  background-color: #d2e8ac;
}
.about h1,.service_section h1{
  font-family: "Montserrat", sans-serif;
  font-size: 4vmin;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #008000;
  padding-top: 1.2rem;
}
.work p,.about p,.service_section p{
  font-family: "Raleway",sans-serif;
  font-style: italic;
  font-size: 3vmin;
}


/* project section/carousel */
.carousel-item{
  background: no-repeat center center scroll;
  -webkit-background-size:cover;
  background-size: cover;
  
}
 .carousel-caption{
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
  
}
.carousel-caption h6{
  font-family: "Montserrat",sans-serif;
  font-size: 3.5vmin;
}
.carousel-caption p,a{
  font-family: "Raleway",sans-serif;
  font-size: 3vmin;
}
.border-top{
  margin: 0 auto;
}
/* career */
.jumbotron h1,.work h1{
  font-family: "Montserrat", sans-serif;
  font-size: 4vmin;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #008000;
}
.lead{
  font-family: "Raleway",sans-serif;
  font-size: 3vmin;
  font-weight: 700;
}
.jumbotron{
  background-color: #fff;
}
.jumbotron p{
  font-family: "Raleway",sans-serif;
  font-size: 4vmin;
  color: #70ad47;
}

/* contact section */
.contact_section{
  background: #292828;
}
.container_contact{
  width: 100%;
  padding: 20px;
}
.container_contact h2{
  width: 100%;
  color: #008000;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}
.row100{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.row100 .col{
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}
.row100 .col .inputBox{
  position: relative;
  width: 100%;
  height: 40px;
  color: #008000;
}
.row100 .col .inputBox input{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.row100 .col .inputBox .text{
  position: absolute;
  top: 0;
  bottom: 0;
  line-height: 40px;
  font-size: 18px;
  font-family: "Montserrat",sans-serif;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.row100 .col .inputBox input:focus + .text,
.row100 .col .inputBox input:valid + .text{
  top: -35px;
  left: -10px;
}
.row100 .inputBox .line{
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #008000;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.row100 .col .inputBox input:focus ~ .line,
.row100 .col .inputBox input:valid ~.line{
  height: 100%;
}
input[type="submit"]{
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #008000;
  font-size: 18px;
  font-family: "Montserrat",sans-serif;
  border-radius: 2px;
}

/* footer */
.footer_container h1{
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #70ad47;
}
.footer_container h4{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #70ad47;
}
.footer_container p{
  font-family: "Raleway",sans-serif;
  letter-spacing: 1px;
}
.social-icons{
  display: flex;
  justify-content: space-evenly;
}
.social-icons .fab{
  color: #008000;
  border: 1px solid #70ad47;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.2rem;
}
.carousel-item img{
  height: 500px;
}
 
/* black lives matter */
.blm_img img{
  background-size: cover;
}
.blm_container{
 
  background-repeat: no-repeat;
  background-size: cover,contain;
  background-position: center;
  height: 245vh;
  margin: 1.5rem 0;
}
