@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}
header,
section{
    overflow-x: hidden;
}
header{
    background-image: url(../images/header-bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
header a{
    font-family: "Montserrat", sans-serif;
    color: #70ad47;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}
nav .navbar-nav li a{
  color: #70ad47 !important;
}
nav .navbar-nav li a:hover{
  color: #fff !important;
  text-decoration: underline;
}

.nav-item {
  padding: 0.9rem;
}

.landing-text h3{
  color: #70ad47;
  font-family: "Montserrat", sans-serif;
  font-size: 6vmin;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  padding-top: 30vmin;
  
}
.landing-text  span{
  color: #fff;
  font-family: "Raleway", sans-serif; 
  font-size: 1em;
  font-weight: italic;
  letter-spacing: 1px;
  text-align: center;   
  margin-left: 4vmin; 
}

/* About section */
.about_container{
  background-color:#d2e8ac ;
}


.about_container h1{
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 0.8px;
  color: #fff;
  margin-top: 40px;
  
}
.about_container p{
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 200;
  margin: 15px;
  padding: 0;
  line-height: 1.7;
  letter-spacing: 0.4px;
  color: #fff;
}
.team-section{
  background-color: #111411;
  height: 100vh;
}
.card{
  border-bottom-left-radius:0.3rem;
  border-bottom-right-radius:0.3rem;
  margin: 1rem;
  border: none;
}
div.card {
  box-shadow: 0 4px 8px 0 rgba(220, 242, 220, 0.6), 0 6px 20px 0 rgba(220, 242, 220, 0.6);
}
div.card-border {
  box-shadow: 0 4px 8px 0 rgba(220, 242, 220, 0.6), 0 6px 20px 0 rgba(220, 242, 220, 0.6);
}
.class-body{
  text-align: center;
  margin: 1rem;
}

.class-body span{
  font-family: "Montserrat",sans-serif;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 0.5rem;
  color: #008000;
}
.img-title{
  font-family: "Montserrat",sans-serif;
}
.class-body p{
  font-family: "Raleway", sans-serif;
}
/* social media links */
.social-links{
  padding: 2px;
  display: flex;
  justify-content: space-evenly;
}
.social-links a{
  color: #008000;

}
.social-links a:hover{
  color: #031203;

}
.fab{
  font-size: 1.3rem;
}
/* services */
.services-section{
  background-color: rgba(241, 236, 236, 0.8);
  padding: 1.5rem;
}
.service-title{
  font-family: "Montserrat",sans-serif;
  margin: 0.5rem;
}
.service-description ul{
  list-style: square;
  
}
.service-description ul,li{
  font-family: "Raleway",sans-serif;
  padding: 0.2rem;
  letter-spacing: 0.5px;
}
.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #069F1C;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  margin-left: 4rem;
}
.service-icon i{
  font-size: 2rem;
  color: #069F1C;
  
}
.service-box{
  padding: 1rem;
}


/* work-section */
.work_section{
  background-color: #d2e8ac;
}
.about h1,.service_section h1{
  font-family: "Montserrat", sans-serif;
  font-size: 4vmin;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #008000;
  padding-top: 1.2rem;
}
.work p,.about p,.service_section p{
  font-family: "Raleway",sans-serif;
  font-style: italic;
  font-size: 3vmin;
}


/* work section/carousel */
.carousel-item{
  background: no-repeat center center scroll;
  -webkit-background-size:cover;
  background-size: cover;
  
}
 .carousel-caption{
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
  
}
.carousel-caption h6{
  font-family: "Montserrat",sans-serif;
  font-size: 3.5vmin;
}
.carousel-caption p,a{
  font-family: "Raleway",sans-serif;
  font-size: 3vmin;
}
.border-top{
  margin: 0 auto;
}
/* career */
.jumbotron h1,.work h1{
  font-family: "Montserrat", sans-serif;
  font-size: 4vmin;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #008000;
}
.lead{
  font-family: "Raleway",sans-serif;
  font-size: 3vmin;
  font-weight: 700;
}
.jumbotron{
  background-color: #fff;
}
.jumbotron p{
  font-family: "Raleway",sans-serif;
  font-size: 4vmin;
  color: #70ad47;
}


