@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}
header,
section{
    overflow-x: hidden;
}
header{
    background-image: url(../images/header-bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
header a{
    font-family: "Montserrat", sans-serif;
    color: #70ad47;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}
header a:hover{
  color:  whitesmoke;
  
}
.nav-item {
  padding: 0.9rem;
}
.landing-text h3{
  color: #70ad47;
  font-family: "Montserrat", sans-serif;
  font-size: 6vmin;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  padding-top: 22vmin;
}
.landing-text  span{
  color: #fff;
  font-family: "Raleway", sans-serif; 
  font-size: 1em;
  font-weight: italic;
  letter-spacing: 1px;
  text-align: center;   
  margin-left: 4vmin; 
}

/* About section */
.about_container{
  background-color:#d2e8ac ;
}
.title{
  margin-top: 40px;
}
.title h2{
  font-family: "Montserrat", sans-serif;
  font-size: 4vmin;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #153b18;
}
.timeline{
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  position: relative;
}
.timeline:before{
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #8ba68d;
}
.timeline ul{
  margin: 0;
  padding: 0;
}
.timeline ul li{
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;
}
.timeline ul li:nth-child(even){
  float: right;
  text-align: left;
  clear: both;
}
.content{
  padding-bottom: 20px;
  border: solid 1px #eee;
  padding: 10px 10px;
  border-radius: 5px;
  background: #fff;
  text-align: justify;
}
.timeline ul li:nth-child(odd):before{
  content: '';
  position: absolute;
  top: 24px;
  right: -11px;
  width: 20px;
  height: 20px;
  background: #008000;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233,33,99,0.2);

}
.timeline ul li:nth-child(even):before{
  content: '';
  position: absolute;
  top: 24px;
  left: -9px;
  width: 20px;
  height: 20px;
  background: #008000;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233,33,99,0.2);

}
.content h3{
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #153b18;
}
.content p{
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 200;
  margin: 10px 0 0;
  padding: 0;
  line-height: 1.7;
  letter-spacing: 0.4px;
}
.time h4{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

li:nth-child(odd) .time{
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: #202121;
  color: #fff;
  border-radius: 18px;
}
li:nth-child(even) .time{
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background: #70ad47;
  color: #fff;
  border-radius: 18px;
}

/* our team */
.section-title{
  text-align: center;
}
.section-title h1{
  font-family: "Montserrat", sans-serif;
  font-size: 4vmin;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 40px;
  
}
.section-title p{
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 200;
  margin: 15px;
  padding: 0;
  line-height: 1.7;
  letter-spacing: 0.4px;
  color: #fff;
}
.team-section{
  background-color: #111411;
  height: 100vh;
}
.card{
  border-bottom-left-radius:0.3rem;
  border-bottom-right-radius:0.3rem;
  margin: 1rem;
  border: none;
}
div.card {
  box-shadow: 0 4px 8px 0 rgba(220, 242, 220, 0.2), 0 6px 20px 0 rgba(220, 242, 220, 0.19);
}
div.card-border {
  box-shadow: 0 4px 8px 0 rgba(220, 242, 220, 0.2), 0 6px 20px 0 rgba(220, 242, 220, 0.19);
}
.class-body{
  text-align: center;
  margin: 1rem;
}

.class-body span{
  font-family: "Montserrat",sans-serif;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 0.5rem;
}
.img-title{
  font-family: "Montserrat",sans-serif;
}
.class-body p{
  font-family: "Raleway", sans-serif;
}
/* social media links */
.social-links{
  padding: 2px;
  display: flex;
  justify-content: space-evenly;
}
.social-links a{
  color: #008000;

}
.social-links a:hover{
  color: #031203;

}
.fab{
  font-size: 1.3rem;
}
/* work-section */
.work_section{
  background-color: #d2e8ac;
}
.work_section h1{
  font-family: "Montserrat", sans-serif;
  font-size: 4vmin;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #153b18;
  padding-top: 1rem;
}
.work_section p{
  font-family: "Montserrat",sans-serif;
  font-style: italic;
}

/* projects section/carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
  transition: transform 1.2s ease;
}
.carousel-item{

  background: no-repeat center center scroll;
  -webkit-background-size:cover;
  background-size: cover;
}
